.avatar {
  max-height:30px;
  border-radius: 15px;
  width:auto;
  vertical-align:middle;
}

.room-nav-link {
  border: 1px solid lighten($primary, 40%);
  background: lighten($primary, 45%);

  & + .room-nav-link {
    border-top: 0 none;
  }
}

.chat {
  border: 1px solid lighten($secondary, 40%);
  background: lighten($secondary, 50%);
  height: 50vh;
  border-radius: 5px 5px 0 0;
  overflow-y: auto;
}

.join-room {
  margin-left: 55px;
  margin-bottom: 10px;
  margin-top: 35px;
  margin-bottom: 20px;
  color: darkgray;
}

.btn_room {
  padding: 10px 30px;
  background-color: $orange;
  color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  left: 10px;
}

.btn_room:hover {
  color: white !important;
  opacity: 0.9;
}

.nav a {
  width: 100%;
  overflow: hidden;
  padding: 5px 2px;
  color: black;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #2A458A;  //#F4F4F4;
  color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
  opacity: 0.9;
}

.nav a:hover {
  color: white !important;
  opacity: 0.83;
}

.chat-input {
  border-top: 0 none;
  border-radius: 0 0 5px 5px;
}

.chat-message-container {
  padding: 5px;

  .avatar {
    margin: 5px;
  }

  .message-content {
    padding: 5px;
    border: 1px solid $primary;
    border-radius: 5px;
    background: lighten($primary, 10%);
    color: $white;
  }

  & + .chat-message-container {
    margin-top: 10px;
  }
}

.alert-heading {
  font-size: 16px;
}

.alert {
  margin-bottom: 50px;
}
