<div class="loader">
    <span class="lettre">M</span>
    <span class="lettre">C</span>
    <span class="lettre">W</span>
</div>
<figure class="highcharts-figure2">
</figure>

  <div class="main-portfolio">
    <h1 class="total-value2"></h1>
    <div>
      <%= link_to '+', new_portfolio_position_path(@portfolio, card: 0), class: 'small-darkblue'%>
      <div class="recap"><div class="gain2"></div><div class="loss2"></div><p class="period">24H</p></div>
    </div>
  </div>

<div class="container5" data-key="<%= @api.key %>" data-secret_key="<%= @api.secret_key %>" data-exchange="<%= @api.exchange %>"></div>
