.btn-signin {
  display: inline-block;
  background-color: #2A458A ;
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin-top: 60px;
  width: 150px;
  text-align: center;
  margin-right: 20px;
}

.btn-login {
  display: inline-block;
  background-color: #EE7E28;
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin-top: 60px;
}

.btn-signin:hover {
  background-color: lightgrey ;
}

.btn-login:hover {
  background-color: lightgrey;
}

.btn-login-userbar {
  display: inline-block;
  background-color: #EE7E28;
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin-top: 15px;
  margin-left: 10px;
}

.btn-login-userbar:hover {
  background-color: lightgrey;
}
