<div class="footer">
  <div class="first-content">
    <div class="footer-menu">
      <div class="footer-signin">
        <p class="text-white">Add good stress to your life with MyCryptoWallet</p>
        <a class="btn-signin-foot" href="/users/sign_up">Sign up</a>
        <a class="btn-login-foot" href="/users/sign_in">Log in</a>
      </div>
    </div>
    <ul class="footer-menu">
      <li>
        <span class="menu-title">Features</span>
          <ul>
            <li><a href="page.html" target="_blank">Support</a></li>
            <li><a href="page.html" target="_blank">Account Management</a></li>
            <li><a href="page.html" target="_blank">Funding Options</a></li>
            <li><a href="page.html" target="_blank">Security</a></li>
            <li><a href="page.html" target="_blank">Staking</a></li>
            <li><a href="page.html" target="_blank">WebSockets</a></li>
          </ul>
      </li>
      <li>
        <span class="menu-title">Learn</span>
          <ul>
            <li><a href="page.html" target="_blank">Blog</a></li>
            <li><a href="page.html" target="_blank">Crypto Guides</a></li>
            <li><a href="page.html" target="_blank">Videos</a></li>
            <li><a href="page.html" target="_blank">Podcast</a></li>
            <li><a href="page.html" target="_blank">Parachain Slot</a></li>
            <li><a href="page.html" target="_blank">Auctions</a></li>
          </ul>
      </li>
      <li>
        <span class="menu-title">About</span>
          <ul>
            <li><a href="page.html" target="_blank">Why MyCryptoWallet</a></li>
            <li><a href="page.html" target="_blank">Mobile Apps</a></li>
            <li><a href="page.html" target="_blank">Contact</a></li>
            <li><a href="page.html" target="_blank">Careers</a></li>
            <li><a href="page.html" target="_blank">Press</a></li>
            <li><a href="page.html" target="_blank">Institutions</a></li>
          </ul>
      </li>
    </ul>
  </div>
  <div class="footer-bottom">
    <div class="social-media">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-linkedin-in"></i>
      <i class="fab fa-twitter"></i>
    </div>
    <div class="copyright-notice">
      <p class="text-white">© 2021 MyCryptoWallet.</p>
    </div>
  </div>
</div>
