<div class="container_navbar">
  <a href="../market"><i class="fas fa-university"></i></a>
  <a href="../portfolios"><i class="fas fa-wallet"></i></a>
  <a href="../infos"><i class="far fa-newspaper"></i></a>
</div>
