<div class="container_navbar">
  <%= link_to market_index_path, :action => 'go' do  %>
  <i class="fas fa-university"></i>
  <% end %>
  <%= link_to portfolios_path, :action => 'go' do  %>
  <i class="fas fa-wallet"></i>
  <% end %>
  <%= link_to infos_path, :action => 'go' do  %>
  <i class="far fa-newspaper"></i>
  <% end %>
</div>
