<div class="container-home">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="banner">
        <div class="container-text">
          <h1>Welcome on MyCryptoWallet</h1>
          <p>Add good stress to your life!</p>
          <a class="btn-signin" href="/users/sign_in">Sign in</a>
          <a class="btn-login" href="/users/sign_up">log in</a>
        </div>
      </div>
    </div>
  </div>
  <div class="text-home">
    <h2>Start your crypto wallet today</h2>
    <p>MycryptoWallet is the most efficient way to manage different portfolios, to know your earnings, to receive alerts.</p>
  </div>
  <div class="container-second-text">
    <div class="row">
      <div class="col-12 col-lg-6 col-md-6 pad-0">
        <div class="second-image">
        </div>
      </div>
      <div class="col-12 col-lg-6 col-md-6 pad-0">
        <div class="second-text">
          <h5>MyCryptoWallet gives access to one of the largest selections of Coins, allowing you to follow over 20 assets with more to come</h5>
        </div>
      </div>
    </div>
  </div>
</div>