<div class="container-home">
      <div class="banner">
        <div class="container-text">
          <h1>Welcome on MyCryptoWallet</h1>
          <p>Add good stress to your life!</p>
          <% if !current_user %>
          <a class="btn-signin" href="/users/sign_up">Sign up</a>
          <a class="link" href="/users/sign_in">Log in</a>
          <% else %>
          <p>Welcome</p>
          <% end %>
        </div>
      </div>
  <div class="text-home">
    <h2>Start your crypto wallet today</h2>
    <p>MyCryptoWallet is the most efficient way to manage different portfolios, to know your earnings, to receive alerts.</p>
    <p>Follow the stock market prices in real time.</p>
  </div>
        <div class="second-image">
        </div>
        <div class="second-text">
          <h5>MyCryptoWallet gives access to one of the largest selections of Coins, allowing you to follow over more than 1800 assets with more to come.</h5>
        </div>
      </div>
  </div>
  <div class="container20">
    <div>
    <h1 class="paypal">Offer us a coffee !</h1>
    <div id="smart-button-container">
          <div style="text-align: center;">
            <div style="margin-bottom: 1.25rem;">
              <p></p>
              <select id="item-options"><option value="One coffee" price="0.5">One coffee - 0.5 USD</option><option value="Many coffee" price="2">Many coffee - 2 USD</option></select>
              <select style="visibility: hidden" id="quantitySelect"></select>
            </div>
          <div id="paypal-button-container"></div>
          </div>
        </div>
    </div>
  </div>
<div>
    <%= render 'shared/footer' %>
</div>
