<div class="container-home">
      <div class="banner">
        <div class="container-text">
          <h1>Welcome on MyCryptoWallet</h1>
          <p>Add good stress to your life!</p>
          <a class="btn-signin" href="/users/sign_up">Sign up</a>
          <a class="link" href="/users/sign_in">Log in</a>
        </div>
      </div>
  <div class="text-home">
    <h2>Start your crypto wallet today</h2>
    <p>MyCryptoWallet is the most efficient way to manage different portfolios, to know your earnings, to receive alerts.</p>
  </div>
        <div class="second-image">
        </div>
        <div class="second-text">
          <h5>MyCryptoWallet gives access to one of the largest selections of Coins, allowing you to follow over 20 assets with more to come</h5>
        </div>
      </div>
  </div>
  <div class="container20">
    <div>
    <h1 class="paypal">Offer us a coffee !</h1>
    <div id="paypal-button-container-P-8P3048303V7418107MC34USI"></div>
    <script>
      paypal.Buttons({
          style: {
              shape: 'pill',
              color: 'blue',
              layout: 'vertical',
              label: 'paypal'
          },
          createSubscription: function(data, actions) {
            return actions.subscription.create({
              /* Creates the subscription */
              plan_id: 'P-8P3048303V7418107MC34USI'
            });
          },
          onApprove: function(data, actions) {
            alert(data.subscriptionID); // You can add optional success message for the subscriber here
          }
      }).render('#paypal-button-container-P-8P3048303V7418107MC34USI'); // Renders the PayPal button
    </script>
  </div>
  </div>
<div>
    <%= render 'shared/footer' %>
</div>
