.highcharts-data-table th {
  font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}


.value {
  position: absolute;
  top: 175vh;
  left: 45.5vw;
  right: 40vw;
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px 1px 2px black;
  color: rgba(46, 49, 49, 1);
}
