.tradingview-chart {
  width: 100vw;
  height: 100vh;
}

.back {
  font-size: 32px;
  background-color: $orange;
  padding: 5px;
  color: white;
  border-radius: 15px;
  position: absolute;
  bottom: 150px;
  right: 36%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.line2 {
  height: 1px;
  width: 80%;
  background-color: grey;
  margin: 0px auto;
  margin-top: 100px;
}
