<div class="footer">
  <div class="first-content">
    <div class="footer-menu">
      <div class="footer-signin">
        <p>Add good stress to your life with MyCryptoWallet</p>
        <a class="btn-signin-foot" href="/users/sign_up">Sign up</a>
        <a class="btn-login-foot" href="/users/sign_in">log in</a>
      </div>
    </div>
    <ul class="footer-menu">
      <li>
        <span class="menu-title">Features</span>
          <ul>
            <li><a href="page.html" target="_blank>"247 Support"</a></li>
          </ul>
      </li>
    </ul>
  </div>
</div>