<div class="mb-3 mt-5 ml-5">
  <%= link_to new_room_path, class: 'btn_room' do %>
    Create a room
  <% end %>
</div>

<% if @rooms.present? %>
  <p class="join-room">Join a room, click on it :</p>
  <nav class="nav flex-column ml-3">
    <% @rooms.each do |room| %>
      <%= link_to room.name, room_path(room, url_options), :data => { :method => :get } %>
    <% end %>
  </nav>
<% else %>
  <div class="text-muted">
    The are no rooms
  </div>
<% end %>
