<% @title = "Chats" %>

<div class="row ml-1">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Welcome to the MCWchat!
      </h4>

      <p>
        We need to talk.
      </p>
    </div>
  </div>
</div>
