.banner {
  background-size: cover;
  background-position: center;
  padding: 20px;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url('banner.jpg');

  h1 {
  color: #EE7E28;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  p {
    color: white;
  }
}

.container-text {
  padding: auto;
  margin: 15px;
}