.btn-signin {
  display: inline-block;
  background-color: #2A458A ;
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin: 10px;
}

.btn-login {
  display: inline-block;
  background-color: #EE7E28;
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin: 10px;
}

.btn-signin:hover {
  background-color: lightgrey ;
}

.btn-login:hover {
  background-color: lightgrey;
}