:root {
  --primary: rgb(10, 4, 82);
  --secondary: #22333B;
  --dark: #212121;
  --light: #F3F3F3;
}

/*start*/


.img-top {
    width: 100%;
    height: 250px;
    background-image: cover;
    border-radius: 10px 10px 0px 0px;
}
.logo-coin {
    width: 90px;
    margin-left: 36%;
    margin-top: -50px;
    border-radius: 50%;
}
.cards {
  display: flex;
  justify-content: space-around;
}
.card-coin-title {
  color : white;
  text-decoration-style: dotted;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}
.description {
    color: whitesmoke;
    font-size: 32px;
}
.container {
  margin-top: 150px;
}

.container-card-coin {
    display: block;
    background-color: rgb(10, 4, 82);
    width: 100%;
    margin-bottom: 70px;
    border-style: solid;
    border-radius: 10px;
    font-family: 'Itim', cursive;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.description {
    color: whitesmoke;
    padding: 1em;
    font-size: 20px;
}

.total-card, .last-price-card {
  color: whitesmoke;
}
.gain-card {
    color: turquoise;
}
.debit-card {
    color: violet;
}
.variation-card {
    color: tomato;
}
.container {
  margin-top: 150px;
}
/*end*/


.card {
  margin: 100px 35px;
  width: 80%;
  height: 430px;
  border-radius: 20px;
  border: none;
}

.card__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card__inner.is-flipped {
  transform: rotateY(180deg);
}


.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face--front {
  background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
  display: flex;
  align-items: center;
  justify-content: center;
}
.front {
  height: 100%;
  width: 100%;
}
.card__face--front h2 {
  color: #FFF;
  font-size: 32px;
}

.card__face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
}

.card__content {
  width: 100%;
  height: 100%;
}

.card__header {
  position: relative;
  padding: 30px 30px 40px;
}

.card__header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}

.pp {
  display: block;
  width: 128px;
  height: 128px;
  margin: 0 auto 30px;
  border-radius: 50%;
  background-color: #FFF;
  border: 5px solid #FFF;
  object-fit: cover;
}

.card__header h2 {
  color: #FFF;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.card__body {
  padding: 30px;
}

.card__body h3 {
  color: var(--dark);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.card__body p {
  color: var(--dark);
  font-size: 18px;
  line-height: 1.4;
}
