.img-top img{
    width: 100%;
    height: 50%;
    background-image: cover;
    border-radius: 8px;
}
.logo-coin img{
  display: flex;
  margin: auto;
  justify-content: center;
    width: 60px;
   
    text-align: center;
    margin-top: -30px;
    border-radius: 50%;
  }
.cards {
  display: flex;
  justify-content: space-around;
  background-color: white;
}
.card-coin-title {
  color : white;
  text-decoration-style: dotted;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}
.container-card-coin {
    display: block;
    background-color: rgb(10, 4, 82);
    width: 100%;
    margin-bottom: 70px;
    border-style: solid;
    border-radius: 10px;
    font-family: 'Itim', cursive;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.description {
    color: whitesmoke;
    padding: 1em;
    font-size: 16px;
}
.total-card, .last-price-card {
  color: whitesmoke;
}
.gain-card {
    color: turquoise;
}
.debit-card {
    color: violet;
}
.variation-card {
    color: tomato;
}
.container-card {
  display: flex;
  margin: auto;
  justify-content: center;
  margin-bottom: 20px;
  background-color: $main;
  width: 50%;
  border-radius: 8px;
  margin-top: 50px;
  
}
