.container_input {
  margin-top: 30px;
  height: 110vh;
  width: 400px;
  border: 1px solid darkgray;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 60px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: darkgray;
}

.container_form {
  display: flex;
  justify-content: space-around;
  height: 85vh;
  width: 100vw;
  background-color: white ;
  position: absolute;
  top: 50px;
  margin-top: 1em;
}

.container_form_edit {
  display: flex;
  justify-content: space-around;
  height: 13
  0vh;
  width: 100vw;
  background-color: white ;
  position: absolute;
  top: 50px;
  margin-top: 1em;
}
.container20 {
  display: flex;
  justify-content: space-around;
}
.container_form_login {
  display: flex;
  justify-content: space-around;
  height: 80vh;
  width: 100vw;
  background-color: white ;
  position: absolute;
  top: 50px;
  margin-top: 1em;
}

.edit {
  margin-top: 50px;
  margin-left: 5px;
}

h2 {
  font-size: 24px;
}

a{
  text-decoration: none;
  color: darkgrey;
}

a:hover {
  text-decoration: none;
  color: gray !important;
}
