.item{
  font-family: 'Open Sans', sans-serif;
  margin: 5px 5px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  background-color: white;
  color: $black;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-top: 10px;
  border: 1px solid darkgrey;
}

.item:hover {
  background-color: lightgrey;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.fa-edit, .fa-trash-alt, .fa-plus {
  color: grey;
  font-size: 32px;
  margin-top: 15px;
}
.item img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  bottom: 15px;
  margin-top: 25px;
}

.chrome-cors {
  text-decoration: underline;
  color: $main;
}

.cors {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.cors-safari {
  color: darkgrey;
}

.item2{
  margin: 5px 5px;
  padding: 10px 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  background-color: white;
  color: $black;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-top: 10px;
  border: 1px solid darkgrey;
}

.item2:hover {
  background-color: lightgrey;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.item2 img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  bottom: 15px;
  margin-top: 25px;
}

.item3{
  margin: 5px 5px;
  padding: 10px 20px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  background-color: white;
  color: $black;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-top: 10px;
  border: 1px solid darkgrey;
}

.item3:hover {
  background-color: lightgrey;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.item3 img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  bottom: 15px;
  margin-top: 25px;
}

.small-red {
  color: $red;
  font-size: 20px;
  position: relative;
  top: 20px;
  right: 30px;
  height: 40px;
  width: 30px;
  padding-top: 10px;
  padding: 5px 40px;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
}

.small-red2 {
  color: $red;
  font-size: 20px;
  position: relative;
  top: 20px;
  right: 30px;
  height: 40px;
  width: 30px;
  padding-top: 10px;
  padding: 5px 40px;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
}

.small-green {
  color: $green;
  font-size: 20px;
  position: relative;
  top: 20px;
  right: 30px;
  height: 40px;
  width: 30px;
  padding-top: 10px;
  padding: 5px 40px;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
}
.small-green2 {
  color: $green;
  font-size: 20px;
  position: relative;
  top: 20px;
  right: 30px;
  height: 40px;
  width: 30px;
  padding-top: 10px;
  padding: 5px 40px;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
}
.percent-red {
  color: $red;
  font-size: 20px;
  position: relative;
  top: 20px;
  right: 13px;
  width: 50px;
  height: 40px;
  padding-top: 10px;
  padding: 5px 40px;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
}

.link-wallet{
  width: 175px;
}

.percent-green {
  color: $green;
  font-size: 20px;
  position: relative;
  top: 20px;
  right: 13px;
  width: 30px;
  height: 40px;
  padding-top: 10px;
  padding: 5px 40px;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
}

.marketcap {
  font-size: 12px;
  height: 10px;
  width: 10px;
}

.value {
  position: relative;
  left: -50px;
  bottom: -40px;
  color: $black;
  font-size: 16px;
  width: 75px;
}

.value2 {
  position: relative;
  left: -50px;
  bottom: -40px;
  color: $black;
  font-size: 16px;
  width: 75px;
}


.coin-price {
  position: relative;
  right: 15px;
  top: 28px;
  color: $black;
  font-size: 16px;
  width: 50px;
}
.logo-text {
  margin-top: 8px;
  position: relative;
  left: 10px;
  display: flex;
  justify-content: space-around;
  width: 200px;
}

.text-logo {
  margin-top: 8px;
  display: flex;
  justify-content: space-around;
  width: 100px;
}

.logo-text h1 {
  margin-left: 16px;
}
#wallet {
  color: $main;
  position: relative;
  top: 30px;
  margin: 0;
  padding: 0;
  font-size: 32px;
}

.line {
  width: 80%;
  position: relative;
  background-color: grey;
  height: 1px;
  top: -10px;
}

.line3 {
  width: 100%;
  position: relative;
  background-color: grey;
  height: 1px;
  top: -10px;
}

.divContainer {
  position: relative;
  top: -20px;
}

.text-logo h1 {
  margin-left: 16px;
}

.name-coin {
  margin-top: 10px;
  font-size: 16px;
}

.name-coin2 {
  margin-top: 10px;
  font-size: 16px;
}

.title-coin {
  margin-top: 20px;
  font-size: 16px;
}

.position {
  position: relative;
  right: 15px;
  top: 20px;
  width: 50px;
}

.position2 {
  position: relative;
  right: 15px;
  top: 20px;
  width: 50px;
}

.show {
  color: black
}

.fa_more {
  position: relative;
  left: 25px;
}
.fa_edit {
  position: relative;
  left: 14px;
}
