.item{
  font-family: 'Open Sans', sans-serif;
  margin: 5px 5px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  background-color: white;
  color: $black;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-top: 10px;
  border: 1px solid darkgrey;
}

.item:hover {
  background-color: lightgrey;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.item img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  bottom: 15px;
  margin-top: 25px;
}

.small-red {
  color: $red;
  font-size: 20px;
  position: relative;
  top: 20px;
  right: 50px;
  height: 40px;
  padding-top: 10px;
  padding: 5px 40px;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
}

.value {
  position: relative;
  left: -50px;
  bottom: -40px;
  color: $black;
  font-size: 16px;
}

.logo-text {
  margin-top: 8px;
  display: flex;
  justify-content: space-around;
}

.logo-text h1 {
  margin-left: 16px;
}

.name-coin {
  margin-top: 10px;
  font-size: 16px;
}

.position {
  position: relative;
  right: 40px;
  top: 20px;
}

.show {
  color: black
}
