.container_navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 1px solid black;
  padding: 5px;
  background-color: white;
}

.container_navbar img {
  height: 30px;
  width: 30px;
}
