.tradingview-widget-container {
  margin-bottom: 100px;
}
.tradingview {
  height: 100vh
}
.info-coin {
  text-align: center;
}
.title-coin, .price-coin {
  color: $main;
  font-size: 16px;
}
.price-coin {
  text-decoration: underline;
}
