.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 60px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  height: 40px;
}

p {
  margin-bottom: 0px;
}

.sign-up {
  position: relative;
  top: 25px;
  right: 30px;
}

.portfolio-userbar {
  color: black;
  position: relative;
  left: -80px;
  top: 10px;
}

.stat-userbar {
  color: black;
  position: relative;
  left: -60px;
  top: 10px;
}

.log-out-userbar {
  padding: 10px;
  background-color: lightgrey;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.log-out-userbar:hover {
  background-color: darkgray;
  color: white !important;
}

.market-userbar {
  color: black;
  position: relative;
  left: -100px;
  top: 10px;
}

.news-userbar {
  color: black;
  position: relative;
  left: -40px;
  top: 10px;
}

.alert-userbar {
  color: black;
  position: relative;
  left: -20px;
  top: 10px;
}

.portfolio-userbar:hover {
  text-decoration: underline;
}

.stat-userbar:hover {
  text-decoration: underline;
}

.market-userbar:hover {
  text-decoration: underline;
}

.news-userbar:hover {
  text-decoration: underline;
}

.alert-userbar:hover {
  text-decoration: underline;
}

.log-out-userbar:hover {
  text-decoration: none;
}

@media (max-width: 763px) {
  .stat-userbar {
    display: none;
  }
  .portfolio-userbar {
    display: none;
  }
  .market-userbar {
    display: none;
  }
  .news-userbar {
    display: none;
  }
  .log-out-userbar {
    color: white;
  }
}
@media (max-width: 415px) {
.session-text {
    display: none;
  }
}
