<div id="tradingview" data-coin="<%= @coin.title.to_json %>"></div>
<div class="info-coin">
  <h1 class="title-coin"><%= @coin.title %></h1>
  <h1 class="price-coin">Price : <%= @coin.price %></h1>
</div>
