<% @title = "Coin - MyCryptoWallet" %>

<div id="tradingview" data-coin="<%= @coin.first.title.to_json %>"></div>
<h1 class="coin_title"><%= @coin.first.title %></h1>
<p class="coin_description">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @coin.first.description %></p>
