// Specific CSS for your home-page

.text-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  padding: 5px;
  height: 300px;
  vertical-align: middle;
  h2, p {
    color: #2A458A !important;
    padding: 15px
  }
}

.second-image {
  background-image: asset-url('investisment.jpg');
  height: 300px;
  background-position: center;
  background-size: cover;
  margin-right: 0%;
}

.second-text {
  background-color: #EAF3FA;
  height: 300px;
  padding: 20px;
  vertical-align: middle;
  margin-left: 0%;
   h5 {
     color: #2A458A ;
     margin-top: 50px;
     padding: 15px;
   }
  
}

.link {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}
